<form role="search" method="get" class="searchform" id="searchform" action="{{ function('home_url') }}">
  <div class="input-group">
    <input type="text" class="input-group-field" value="" name="s" id="s" aria-label="Search" placeholder="Search...">
    <div class="input-group-button">
      <button type="submit" id="searchsubmit" class="button">
          <span>Go</span>
      </button>
    </div>
  </div>
</form>
