.blog-posts {
  background-color: $lavender;
  background-image: url('../images/decorations/purple-dots.svg');
  background-position: 20% 34%;
  background-repeat: no-repeat;
  position: relative;

  &::after {
    z-index: 2;
    content: '';
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    left: 0;
    top: 20%;
    width: 62px;
    height: 119px;
    background-image: url('../images/decorations/splat-purple-left.svg');
    display: none;

    @include MQ(M) {
      display: block;
    }
  }

  &::before {
    z-index: 2;
    content: '';
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    right: 0;
    bottom: 0;
    width: 422px;
    height: 384px;
    background-image: url('../images/decorations/hill-purple-bottom-right.svg');
    display: none;

    @include MQ(M) {
      display: block;
    }
  }

  &__all-posts {
    font-weight: bold;
    color: $purple;
    font-size: 1.125rem;
    margin: 2rem;
    display: block;
  }
}
