.hero {
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &__inner {
    text-align: center;
    color: $white;
    position: relative;
    z-index: 2;
    padding: 25px;
  }

  &__headline {
    font-size: 3rem;
    color: $white;
    line-height: 1.1;

    @include MQ(M) {
      font-size: 5rem;
    }
  }

  &__paragraph {
    font-size: 2rem;
    line-height: 1.2;
  }

  &__button {
    border: 2px solid $white;
    color: $white;
    font-size: 1rem;

    @include MQ(M) {
      font-size: 1.5rem;
      border-width: 3px;
    }
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.5), $lavender);
    width: 100%;
    height: 400px;
    bottom: 0;
    left: 0;
  }
}
