{% extends "base.twig" %}

{% block pageContent %}
  <div class="container">
    <div class="row before-product">
      <div class="col">
        {% do action('woocommerce_before_single_product') %}
      </div>
    </div>

    <article itemscope itemtype="http://schema.org/Product" class="single-product-details {{ post.class }}">
      <div class="row">

        <div class="col-sm-12 col-md-4">
          <div class="entry-images">
            {# do action('woocommerce_before_single_product_summary') #}
            <img src="{{ post.thumbnail.src('shop_single') }}" />
          </div>
        </div>

        <div class="col-sm-12 col-md-4">
          <div class="summary entry-summary">
              {% do action('woocommerce_single_product_summary') %}
          </div>
          <div class="after-single-product-summary">
            {% do action('woocommerce_after_single_product_summary') %}
          </div>
          <meta itemprop="url" content="{{ post.link }}" />
        </div>
      </div>
    </article>

    {# do action('woocommerce_after_single_product') #}
  </div>
{% endblock  %}
